/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: black;
  text-decoration-color: white;
}

h1 {
  color: #333;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* Add more CSS rules as needed */
